---
const { title, uniqueID, customButton, customContent } = Astro.props;

let uniqueContent = uniqueID + "-content";
---

<accordion-component
    class="accordion"
    data-button={uniqueID}
    data-content={uniqueContent}
>
    <button id={uniqueID} class={customButton || "accordionButton"}>
        {title}
    </button>
    <div
        id={uniqueContent}
        class={customContent || "accordionContent"}
        style="display: none;"
    >
        <slot />
    </div>
</accordion-component>

<script>
    class Accordion extends HTMLElement {
        connectedCallback() {
            const buttonID = this.dataset.button;
            const contentID = this.dataset.content;
            console.log(buttonID, contentID);
            var button;
            if (buttonID != null) button = document.getElementById(buttonID);
            if (button != null) {
                button.onclick = function () {
                    console.log("clicked");
                    var accordionContent;
                    if (contentID != null)
                        accordionContent = document.getElementById(contentID);
                    if (accordionContent != null) {
                        if (accordionContent.style.display !== "none") {
                            accordionContent.style.display = "none";
                            button.style.borderTopLeftRadius = "28px";
                            button.style.borderTopRightRadius = "28px";
                            button.style.borderBottomLeftRadius = "28px";
                            button.style.borderBottomRightRadius = "28px";
                            button.style.paddingBottom = "8px";
                        } else {
                            accordionContent.style.display = "block";
                            button.style.borderTopLeftRadius = "24px";
                            button.style.borderTopRightRadius = "24px";
                            button.style.borderBottomLeftRadius = "0";
                            button.style.borderBottomRightRadius = "0";
                            button.style.paddingBottom = "14px";
                        }
                    }
                };
            }
        }
    }

    customElements.define("accordion-component", Accordion);
</script>

<style>
    .accordionButton {
        margin-top: 10px;
        /* margin-bottom: 3px; */
        padding: 0.5rem 1.25rem;
        border: 2px solid #ddd;
        border-radius: 28px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: var(--sk-color-gray-7);
        color: black;
    }
    .accordionButton:hover {
        border: 2px solid var(--sl-color-white) !important;
    }
    .accordionContent {
        padding: 10px;
        padding-left: 15px;
        background: var(--sl-color-gray-7);
        border: 1px solid var(--sl-color-gray-5);
        border-radius: 4px;
        border-top-left-radius: 0;
        margin-top: -1px;
    }
    .accordionContentList {
        list-style-type: none;
    }
    .accordionContentList a {
        font-size: medium;
        font-weight: 600;
    }
</style>
